@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url : String.Empty;
}
<!-- Hero Start -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-11">
                <div class="swiper-container hero-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-content d-flex align-items-center">
                            <div class="single-slide">
                                <h1 data-aos="fade-right" data-aos-delay="200">@Model.HeroHeader</h1>
                                <p data-aos="fade-right" data-aos-delay="600">@Model.HeroDescription</p>
                                @if (Model.HeroCtalink != null)
                                {
                                    <a data-aos="fade-right" data-aos-delay="900" class="btn btn-primary" href="@Model.HeroCtalink.Url">
                                        @Model.HeroCtacaption
                                    </a>
                                    <a data-aos="fade-right" data-aos-delay="900" href="@Model.HeroCtalink.Url" class="btn btn-primary">
                                        @Model.HeroCtacaption
                                    </a>
                                }
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Add Control -->
        <span class="arr-left"><i class="fa fa-angle-left"></i></span>
        <span class="arr-right"><i class="fa fa-angle-right"></i></span>
    </div>
    <div class="texture"></div>
    <div class="diag-bg"></div>
</section>
<!-- Hero End -->
@Html.CachedPartial("Partials/_MainCarrousel", Model, 3600)
<section class="recent-posts">
    <div class="container">
        <div class="row">
            @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
            </div>
            </div>
</section>
<section class="section section--themed">

    <div class="container">
        <div class="row">

            <div class="ta-center">
                <h2>@Model.FooterHeader</h2>
                <p class="section__description mw-640 ma-h-auto">@Model.FooterDescription</p>

                <a class="button button--border--light_solid" href="@Model.FooterCtalink.Url">
                    @Model.FooterCtacaption
                </a>

            </div>

        </div>
    </div>

</section>