@using Umbraco.Core.PropertyEditors
@inherits UmbracoViewPage
@using ClientDependency.Core.Mvc
@using ClientDependency.Core
@{
    Layout = null;
    // Get basic design settings from the homepage
    var home = (Home)Model.Root();
    var font = home.Font;
    var colorTheme = home.ColorTheme;

   


   
     Html.RequiresJs("~/scripts/jquery-3.3.1.js", 1);
     Html.RequiresJs("~/scripts/bootstrap.bundle.js", 2);
     Html.RequiresJs("~/scripts/loaders.css.js", 3);
     Html.RequiresJs("~/scripts/aos.js", 4);
     Html.RequiresJs("~/scripts/swiper.min.js", 5);
     Html.RequiresJs("~/scripts/lightgallery-all.min.js", 6);
     Html.RequiresJs("~/scripts/main.js", 7);
   
    Html.RequiresCss("~/css/loader/loaders.css");
    Html.RequiresCss("~/css/font-awesome/font-awesome.css");
    Html.RequiresCss("~/css/bootstrap.css");
    Html.RequiresCss("~/css/aos/aos.css");
    Html.RequiresCss("~/css/swiper/swiper.css");
    Html.RequiresCss("~/css/lightgallery.min.css");
    Html.RequiresCss("~/css/style.css");
    Html.RequiresCss("~/css/responsive.css");

}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Model.Name - @home.Sitename</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Stylesheets & Fonts -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700" rel="stylesheet">
    @Html.RenderCssHere()
    @RenderSection("Header", required: false)
</head>

<body>
    <!-- Loader Start -->
    <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    <header class="position-absolute w-100">
        <div class="container">
            <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
                <div class="contact">
                    <a href="tel:+1234567890" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+1234567890</a>
                    <a href="mailto:info@yourmail.com">
                        <i class="fa fa-envelope"
                           aria-hidden="true"></i>info@yourmail.com
                    </a>
                </div>
                <nav class="d-flex aic">
                    <a href="#" class="login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                    <ul class="nav social d-none d-md-flex">
                        <li><a href="https://www.facebook.com/fh5co" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
            <nav class="navbar navbar-expand-md navbar-light">

                @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url))
                {
                    <a class="navbar-brand" href="/"><img src="@home.SiteLogo.Url" alt="@home.Sitename"></a>
                }
                else
                {
                    <a class="navbar-brand" href="/">@home.Sitename</a>
                }

                <div class="group d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>
                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
                <a class="search-icon d-none d-md-block" href="#"><i class="fa fa-search"></i></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                   
                    <ul class="navbar-nav">
                        @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
                    </ul>
                    <form class="bg-white search-form" method="get" id="searchform">
                        <div class="input-group">
                            <input class="field form-control" id="s" name="s" type="text" placeholder="Search">
                            <span class="input-group-btn">
                                <input class="submit btn btn-primary" id="searchsubmit" name="submit" type="submit"
                                       value="Search">
                            </span>
                        </div>
                    </form>
                </div>
            </nav>
            </div>
</header>
    <!-- Header End -->
    <main>
        @RenderBody()
    </main>

    <footer class="section--themed">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ta-center">
                    @home.FooterAddress
                </div>
            </div>
        </div>
    </footer>

    @Html.RenderJsHere()
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>




</body>

</html>